.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.main-container {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 50px;
  margin: 0 auto;
  min-width: 500px;
}
.city {
  text-align: left;
}
.details {
  display: flex;
  justify-content: space-between;
}
.forecast-container {
  display: flex;
  justify-content: space-evenly;
}
p {
  font-size: 13px;
}
