ul {
  margin: 0;
  padding: 0;
}
li {
  font-size: 14px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
img {
  height: 75px;
  width: 75px;
}
.temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 60px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}
.unit {
  color: rgb(33, 33, 33);
  font-size: 15px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
form {
  margin-bottom: 30px;
}
input {
  margin-right: 3px;
  padding: 3px;
}
.button {
  background-color: #2294f2;
  border: honeydew 1px solid;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 3px;
}
.button:hover {
  opacity: 0.8;
}
